#title-separator {
    margin-bottom: 1.5em;
}
#my-event-section {
    width: 80%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2em 4em;
    background-color: #f3f3f3;
}
.event-text {
    width: 90%;
    margin: auto;
}
.event-table {
    width: 90%;
    border: 1px black solid;
    margin: auto;
}
.description {
    width: 100%;
    padding: 1em 6em;
    border: 0.5px solid black;
}

@media (max-width: 730px) {
    #my-event-section {
        font-size: small;
        width: 95%;
        margin-top: 1em;
        margin-bottom: 2em;
        padding: 1em 2em;
    }
    .description {
        padding: 0em;
        border: 0px;
    }
}