#title-separator {
    margin-bottom: 1.5em;
}
#event-section {
    margin-top: 2em;
}
.event-text {
    width: 90%;
    margin: auto;
}
.event-table {
    width: 90%;
    border: 1px black solid;
    margin: auto;
}
.description {
    width: 100%;
    padding: 1em 6em;
}

@media (max-width: 730px) {
    .description {
        padding: 0em;
    }
}