.my-navbar-brand {
    color: white;
    text-decoration: none;
}
.my-navbar-brand:hover {
    color: white;
}
#event-admin-page-intro {
    background-color: rgb(82, 82, 241);
    color: #ffffff;
    padding: 3.5em;
    margin-bottom: 2em;
}
.meta-text {
    font-size: 1rem;
}
#event-table {
    width: 95%;
    margin: auto;
    align-items: center;
    background-color: #e7e7e7;
    padding: 1em;
}
#my-table {
}
.warning {
    display: grid;
}
@media (max-width: 730px) {
    #event-admin-page-intro {
        padding: 3em;
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
    }
    #event-table {
        width: 95%;
        padding: 0em;
        padding-top: 1em;
    }
    #my-table {
    }
}