a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(134, 131, 131);
}
#title-separator {
    margin-bottom: 1.5em;
}
.event-text {
    width: 90%;
    margin: auto;
}
.event-table {
    width: 90%;
    border: 1px black solid;
    margin: auto;
}