@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
html {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* Body and Background*/
/* ------------------------------------------------------- */
body {
    font-family: 'Merriweather', sans-serif;
    background: linear-gradient(45deg, #23A6D5, #8f0b89, #23A6D5);
    background-size: 100% 100%;
    position: relative;
    min-height: 100vh;
    transform: translateZ(0);
}
/* modal bug */
.modal-open {
    padding-right: 0px !important;
}
/* modal bootstrap bug, modal automatically adds right padding to body for some unknown reason */
/* ------------------------------------------------------- */


/* Navbar Section */
/* ------------------------------------------------------- */
.nav-prof-bar {
    display: none;
}
.nav-hide-logged{
    display: none;
}
#topNavbar {
    font-family: 'Hammersmith One', sans-serif;
    background-color: #8f0b89;
    font-weight: 800;
    width: 100%;
    z-index: 10;
}
#botNavbar {
    z-index: 9;
    background-color: #f3f3f3;
    max-height: 110px;
}
.navbar.scrolled {
    background: rgb(243, 243, 243,0.88) !important;
    transition: background 0.25s;
}
.navbar.scrolled:hover {
    background: rgb(243, 243, 243) !important;
    transition: background 0.25s;
}
#regbutton , #logbutton {
    display: none;
    padding: 0.65rem 1.45rem;
}
#regbutton {
    color: #f3f3f3;
    background-color: #8f0b89;
    border-radius: 200px;
}

#regbutton:hover {
    filter: brightness(110%);
}

#logbutton {
    border-radius: 200px;
    color: #8f0b89;
    border-color: #8f0b89;
}

#logbutton:hover {
    color: white;
    background-color: #8f0b89;
}

#logbutton:focus {
    box-shadow: 0 0 0 .2rem rgba(143, 11, 137, 0.5);
}
/* ------------------------------------------------------- */




/* Main Section */
/* ------------------------------------------------------- */
main {
    min-height: calc(100vh - 52px - 110px - 595px);
    padding: 20px;
}
/* ------------------------------------------------------- */




/* Footer Section */
/* ------------------------------------------------------- */
footer {
    padding-top: 2px;
    background-color: #f3f3f3;
    text-align: center;
    position: relative;
    width: 100%;
}
.footer-link a {
    text-decoration: none;
}
.footer-link a:hover {
    text-decoration: underline;
}
#map {
    height: 300px;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
}
/* ------------------------------------------------------- */



/* Media Responsiveness Section */
/* ------------------------------------------------------- */
@media screen and (max-width: 992px) {
    .navbar-brand {
        white-space: normal;
    }
    .navbar-nav {
        align-items: initial;
        align-content: initial;
    }
    .fl-right {
        float: right;
    }
    #botNavbar {
        max-height: 100%;
    }
    #botNavbar #logo-img {
        width: 35%;
        height: 35%;
    }
    #logbutton,
    #regbutton {
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
    }
    /* body {
        background-size: 200% 200%;
    } */
    #home-container.container-fluid {
        max-width: 100vw !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .jumbotron-button{
        border-radius: 15px;
        font-size: 92%;
    }
    #jumbo-col{
        flex: none;
    }
    .event-card{
        margin-top: 20px;
    }
    .announcement-sec{
        margin-top: 20px;
    }
    .jumbotron-news {
        padding: 2rem 1rem;
    }
    /* REGISTER PAGE */
    .register .left-col {
    border-top-right-radius: 10px !important;
    }
    .register .right-col {
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0 !important;
    }
    /* Register Page */
    .cont-right{
        margin-top: 30px;
    }
    .reg-pic img{
        height: auto !important;
        width: auto !important;
    }
    /*Profile Page*/
    #right-col {
        padding-left: 0px !important; 
        padding-right: 0px !important;  
    }
    /*Event Page*/
    #event-main {
        width: 100% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .event-img , .top-reg-text{
        text-align: center;
    }
    .vertical-event-card {
        display: block;
        grid-template-columns: 1fr;
        text-align: left;
    }
    .event-text {
        text-align: justify;
    }
    .form-reg-container{
        max-width: 100% !important;
    }
    .form-reg-submit{
        justify-content: center;
    }
}
/* ------------------------------------------------------- */


/* About PAGE */
/* ------------------------------------------------------- */
.about-mail{
    text-decoration: none;
    color: rgb(140, 169, 255);
}
.about-mail:hover{
    text-decoration: none;
    color: white;
}
/* ------------------------------------------------------- */


/* Home PAGE */
/* ------------------------------------------------------- */
.jumbotron-main {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.6) 100%), url(../img/graduation_pic.jpg) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    color: white;
}
.jumbotron-main h2{
    font-family: 'Hammersmith One', sans-serif;
}

#main-jumbotron-register{
    display: flex;
}
.jumbotron-events {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: .4rem;
    color: white;
}
.jumbotron-events h2{
    font-family: 'Hammersmith One', sans-serif;
}
.jumbotron-news {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: rgba(36, 36, 36, 0.6);
    border-radius: .4rem;
    color: white;
}
.jumbotron-news h2{
    font-family: 'Hammersmith One', sans-serif;
}
.jumbotron-button{
    color: black;
    font-weight: 800;
    padding: 13px;
    background-color: #f3f3f3;
    border-radius: 50px;
    border: none;
}
.jumbotron-button:hover{
    filter: brightness(110%);
    box-shadow: 0 0 8px #ffffff !important;
}
.featurette-divider{
    background-color: white;
}

#home-container.container-fluid{
    max-width: 85vw;
}
.event-card{
    border-radius: 4px;
    color:black;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.jumbotron-events .card-title{
    font-family: 'Hammersmith One', sans-serif;
}
.event-card:hover{
    transform: scale(1.05);
    z-index: 5;
}
.event-info a {
    text-decoration: none;
    font-weight: 800;
    color: #8f0b89;
}
.news-home-link{
    text-decoration: none;
    font-weight: 800;
    color: #8f0b89;
}
.news-home-link:hover{
    text-decoration: none;
    font-weight: 800;
    color: #8f0b89;
}
.news-img{
    border-radius: 7px;
}
/* ------------------------------------------------------- */



/* Event PAGES */
/* ------------------------------------------------------- */
#dropdownMenuButton {
    border: 0px;
    /* background: rgb(243, 243, 243,0.88) !important; */
    background: none !important;
}
.dropdown-toggle::after {
    content: none;
}
.menu-back {
    background-color: #f3f3f3;
}
.event-buttons {
    /*Don't delete this!*/
    /* IS IT BECUZ U R GEH? */
}

#event-main {
    border-radius: 0.5em;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 3.5em 3em 2em;
    width: 90%;
    background-color: #f3f3f3;
    box-shadow: 10em;
}
#upcoming-events {
    margin-bottom: 1.5em;
    padding-left: 2em;
    font-family: 'Hammersmith One', sans-serif;
    display: inline-block;
}
#event-creation {
    margin-top: -1em;
}
.vertical-event-card {
    border: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    width: 80%;
    margin-top: 0.5em;
    padding-bottom: 3em;
    align-items: center;
    background-color: #f3f3f3;
}
.event-title {
    color: black;
}
.event-title:hover {
    color: rgb(145, 141, 141);
}
#event-main a {
    text-decoration: none;
}
.event-meta {
    font-size: small;
    font-family: 'Hammersmith One', sans-serif;
}
.responsive-disabled {
    display: none;
}
.event-text {
    padding-right: 1.5em;
}
.event-img {
    display: grid;
    place-items: center;
}
.page-nav {
    justify-content: center;
    padding: 0.5em 1em; 
    background-color: #f3f3f3;
    border-radius: 0.5em;
    max-width: 20em;
    color: black;
}
.page-nav:hover {
    color: white;
    background-color: #cc67c7;
    text-decoration: none;
}
.page-nav a:hover {
    color: white;
    background-color: #cc67c7;
    text-decoration: none;
}

.event-row {
    position: relative;
    margin-bottom: 2em;
}
.event-date input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.description-row {
    margin-top: -1.5em;
}
.mode-container {
    align-items: center;
}
.event-mode {
    visibility: hidden;
}
.event-label {
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    border-radius: 0.5em;
    padding: 0.7em;
    cursor: pointer;
    border: 1px solid #aa2aa4;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: -3em;
}
.event-label:before {
    content: "";
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #aa2aa4;
    border-radius: 50%;
    background: #f3f3f3;    
    margin-right: 20px;
}
.event-mode:checked + .event-label {
    background-color: #aa2aa4;
    color:white;
}
.radio-label {
    margin-top: -0.5em;
}
.event-mode:checked + .event-label:before {
    height: 20px;
    width: 20px;
    border: 6px solid #f3f3f3;
    background-color: #aa2aa4;
}

.icon {
    position: absolute;
    top: 2.7em;
    right: 1.3em;
    visibility: hidden;
}
.error-msg {
    position:absolute;
    visibility: hidden;
}
.error input {
    border-color: #e74c3c;
    background-color: #faedeb;
}
.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}
.error small {
    visibility: visible;
    font-size: small;
    color: #e74c3c;
}
.success input{
    border-color: #2ecc71;
    background-color: #e4f7eb;
}
.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.event-btn {
    max-width: 10em;
    padding: 1em;
    margin-top: 35px;
    display: inline-block;
    background: #aa2aa4;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
}
.event-btn:hover {
    box-shadow: 0 0 15px #c532be;
}

#event-section {
    text-align: left;
    align-items: center;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 4em;
    padding: 3.5em 3.5em 2em;
    width: 70%;
    background-color: #f3f3f3;
    box-shadow: 10em;
}
#article-title {
    margin-bottom: 1em;
}
#event-article {

}
.article-img {
    padding: 2em;
}

@media (max-width: 730px) {
    .responsive-disabled {
        display: inline-block;
    }

    #event-section {
        width: 100%;
        padding: 1.5em;
        margin-top: 0.5em;
    }

    .event-buttons {
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .vertical-event-card {
        display: block;
        grid-template-columns: 1fr;
    }

    .event-text {
        text-align: start;
    }

    .event-btn {
        display: inline-block;

    }

    .event-main {
        padding: 1.7em 1.5em 1em;
    }
}

/* ------------------------------------------------------- */



/* Contact Us */
/* ------------------------------------------------------- */
.contactus{
    margin-top: 80px;
    margin-bottom: 80px;
}
.form-contactus {
    max-width: 1280px;
    padding: 20px 40px 20px;
    margin: 0 auto;
    background-color: rgb(243, 243, 243, 0.9);
    border-radius: 20px;
    font-family: 'Hammersmith One', sans-serif;
}
.contact-us-heading {
    text-align: center;
}
.form-contactus .contact-us-heading,
.form-contactus .checkbox {
    margin-bottom: 30px;
}
.form-contactus .checkbox {
    font-weight: normal;
}
.form-contactus .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    outline: none;
    border: none;
}
.form-contactus .form-control:focus {
    z-index: 2;
    box-shadow: 0 0 15px #c532be !important;
}
.form-contactus ::placeholder {
    color: #8f0b89;
}
.form-contactus input[type="text"] {
    border-radius: 10px;
    padding: 15px;
}
.contact-us textarea {
    border-radius: 10px;
    padding: 15px;
}
.bottom-submit{
    margin-top: 4px;
    display: grid;
    justify-content: center;
}
.submit-message {
    justify-self: center;
    max-width: 125px;
    padding: 10px 35px;
    margin-top: 15px;
    background: #aa2aa4;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
}
.submit-message:hover {
    box-shadow: 0 0 15px #c532be;
}
/* ------------------------------------------------------- */




/* LOGIN PAGE */
/* ------------------------------------------------------- */
@import "bourbon";
.login {	
	margin-top: 80px;
    margin-bottom: 80px;
}
.form-signin {
    max-width: 400px;
    padding: 40px 40px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Hammersmith One', sans-serif;
}
.form-signin-heading {
    text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    /* @include box-sizing(border-box); */
    transition: 0.4s;
}
.form-signin .form-control:focus {
    z-index: 2;
    border-color: #8f0b89;
    box-shadow: 0 0 15px #c532be !important;
}
.form-signin ::placeholder {
    color: #8f0b89;
}
.form-signin input[type="text"] {
    border-radius: 23px;
    padding: 15px;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-radius: 23px;
    padding: 15px;
}
.form-signin select {
    color: #8f0b89;
    margin-bottom: 20px;
    border-radius: 23px;
    padding: 5px;
}
.form-signin select:focus {
    color: #8f0b89;
}
.bottom-log{
    display: grid;
    justify-content: center;
}
.submitlog {
    justify-self: center;
    max-width: 125px;
    padding: 10px 35px;
    margin-top: 15px;
    background: #aa2aa4;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
}
.submitlog:hover {
    box-shadow: 0 0 15px #c532be;
}
.message {
    margin: 20px 0 0;
}
.message a {
    text-decoration: none;
    font-weight: 800;
    color: #8f0b89;
}
#login-warning-modal-button {
    background: #aa2aa4;
    color: white;
}
/* ------------------------------------------------------- */



/* Register PAGE */
/* ------------------------------------------------------- */
.register {	
	margin: 80px auto;
    max-width: 85vw;
}
.register .left-col,.register .right-col {
    padding-bottom: 3.5rem;
    border-radius: 10px;
}
.register .left-col {
    /* background-image: linear-gradient(to bottom left, #23A6D5, #c532be, #8f0b89); */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.register .right-col {
    background-color: #f3f3f3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form-reg-container {
    max-width: 80%;
    margin: 80px auto 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.form-reg-heading {
    margin-bottom: 50px;
    font-family: 'Hammersmith One', sans-serif;
}
.form-reg-check {
    padding-top: 60px;
    padding-left: calc(var(--bs-gutter-x)/ 2);;
}
.form-check a , .form-reg-submit a{
    text-decoration: none;
    color: #8f0b89;
    font-weight: 800;
}
.submitreg {
    max-width: 200px;
    padding: 10px 35px;
    margin-top: 35px;
    background: #aa2aa4;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
}
.submitreg:hover{
    box-shadow: 0 0 15px #c532be;
}
.form-reg-submit p{
    margin-top: 50px;
}
.reg-pic{
    justify-content: center;
    align-items: center;
}
.reg-pic img{
    height: 155%;
    width: 155%;
}
#error-text-reg{
    display: none;
}
.error-reg-text {
    display: flex !important;
    color: #dc3545 !important;
    font-weight: 800;
    margin-top: 20px;
}
.input-error {
    border-color: #dc3545;
    border-width: 2px;
}
.input-error:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 rgba(221, 12, 12, 0.842);
}
/* ------------------------------------------------------- */


/* Request Page */
/* ------------------------------------------------------- */
.request-page {	
    margin: 80px auto;
    background-color: #fff;
    font-family: 'Hammersmith One', sans-serif;
    border-radius: 10px;
    max-width: 60%;
    height: auto;
    padding: 40px 10px;
}
/* .request-page .rowreq{
    max-height: 18rem;
} */

@media screen and (max-width: 992px) 
{
    .request-page {
        max-width: 80%;
    }    
}

/* ------------------------------------------------------- */



/* PROFILE & SETTING PAGE */
/* ------------------------------------------------------- */
.mb-35{
    margin-bottom: 35px;
}
#updatebutton { 
    color: #f3f3f3;
    background-color: #8f0b89;
    border-radius: 200px;
}
#updatebutton:hover {
    filter: brightness(110%);
}
.confirmbuttonModalSetting { 
    border-radius: 200px;
    color: #8f0b89;
    border-color: #8f0b89;
}
.confirmbuttonModalSetting:hover {
    color: white;
    background-color: #8f0b89;
}
.confirmbuttonModalSetting:focus {
    box-shadow: 0 0 0 .2rem rgba(143, 11, 137, 0.5);
}
#editbutton {
    border-radius: 200px;
    color: #8f0b89;
    border-color: #8f0b89;
    background-color: white;
}
#editbutton:hover {
    color: white;
    background-color: #8f0b89;
}
#right-col {
    background-color: #f3f3f3;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 50px 20px 50px;
}
#round-corner-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
hr.profileBio-line { 
    border-top: 2px solid white;
}
a[id=profileNav-inactive] { 
    color: white;
}
a:hover[id=profileNav-inactive] {  
    color: white;
}
#profile-heading{
    margin: 0px 0px 50px 0px;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
}
.profile-name{
    color: white;
    margin-bottom: 20px;
    font-family: 'Hammersmith One', sans-serif;
}
#bio1 { 
    color: white;
    margin-bottom: 20px;
}

#profileNav { 
    color: white;
}
#profileImg {
    border: 2px solid white ;
    border-radius: 50%;
    width:250px;
    height:250px;
}
#profilebtn:focus { 
    outline: none;
    box-shadow: none;    
}
#profileIcon {
    border: 1px solid #8f0b89;
}
.form-control[id=bio] {
    color: white;
    background-color: transparent;
    height: 90px;
}
.form-control[id=bio]::placeholder {
    color: whitesmoke;
}
.form-control[id=bio]:focus {
    border-color: #ca81c7;
    box-shadow: 0 0 10px #ca81c7;
}
.purplemodalinput:focus  {
    border-color: #ca81c7;
    box-shadow: 0 0 5px #ca81c7;
}
#formFile:focus {
    border-color: #ca81c7;
    box-shadow: 0 0 10px #ca81c7;
}
.dropbtn {
    color: #8f0b89;
    border-color: #8f0b89;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 0 .1rem #8f0b89;
}
.dropbtn:hover, .dropbtn:focus {
    filter: brightness(90%);
}
.dropdown {
    float: right;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    border-radius: 5%;
}
.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
.collapsible { 
    background-color: white;
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active.collapsible, .collapsible:hover {
    background-color: rgb(235, 235, 235);
}
.collapsible:after {
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(235, 235, 235);
}
#deleteAcc.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}
.index-chosen-dropdown {
    font-weight: 800 !important;
    color: black !important;
}
a[id="no-blue"]{
    text-decoration: none;
    color: #8f0b89;

}
/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
/*                       JOB PAGE                          */

#jobs-header {
    background-color: rgba(0, 0, 0, 0.5); 
    padding-bottom: 70px; 
    padding-top: 70px;
}

#job-main{
    background-color: #f3f3f3;
    border-style: none;
    border-radius: 10px;
    padding: 30px 80px 30px 80px;
}

#job-heading{
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
}

#job-caption{
    color: white;
    text-align: center;
}
#MYR{
    font-weight: bold;
    font-size: 20px;
    color: #8f0b89;
    font-family: 'Hammersmith One', sans-serif;
    margin-top: 15px;

}
#search-button {
    width: 40; 
    height: 40; 
    background-color: white; 
    border-radius: 150px;
}

#search-img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

#bookmark-img {
    height: 40px; 
    width: 40px; 
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: #f3f3f3;
}
#job-posted{
    margin-left: 10px;
    font-size: small;
    color: #4d4d4d;
}
.job-box{
    border: 1px solid rgb(172, 171, 171);
    margin: 0px 5px 30px 5px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #f3f3f3;
}


#job-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

.job-image{
    width: 80px;
    border-radius: 50%;
    float: left;
    margin: 20px 20px 0px 0px
}

#job-name{
    font-weight: bold;
    margin-top: 20px;
}

#job-company{
    font-size: small;
}

#viewbutton {
    color: #f3f3f3;
    padding: 0.65rem 1.45rem;
    background-color: #8f0b89;
    border-radius: 200px;
    margin-top: 20px;
}

#viewbutton:hover {
    filter: brightness(110%);
}

#job-bmark{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(172, 171, 171);
    margin-top: 20px;
}

.bmark-hide-logged {
    display: none;
}

.bmark-hide1-logged {
    display: none;
}

.bmark-hide2-logged {
    display: none;
}

.bmark-hide3-logged {
    display: none;
}

.bmark-hide4-logged {
    display: none;
}

.bmark-hide5-logged {
    display: none;
}

#job-bmark:hover{
    color: white;
    background-color: rgb(172, 171, 171);
}
#job-bmark:focus{
    color: white;
    background-color: rgb(172, 171, 171);
}

.page-nav-text {
    text-decoration: none;
}

#sortDropBtn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    height: 40px;
}

#sortDropBtn:hover {
    background-color: white;
    color: #8f0b89;   
}

.slidecontainer {
    width: 100%;
    padding: 10px;
}
  
.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 10px; 
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 10px;
}
  
.slider:hover {
    opacity: 1; 
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    background: #8f0b89;
    cursor: pointer; 
}

#applyBtn {
    border: none; 
    color: #8f0b89; 
    font-size: medium; 
    background-color: transparent;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}

#cancelBtn {
    border: none; 
    color: #8f0b89; 
    font-size: medium; 
    background-color: transparent;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
}

#applyBtn:hover, #cancelBtn:hover {
    filter: brightness(50%);
}

#sortby {
    margin: 10px; 
    color: white; 
    font-size: small;
}

#sortSelected {
    border: none; 
    background-color: transparent; 
    color: white; 
    text-decoration: underline; 
    font-size: small;
}

.sort-content {
    color: black;
}

.mar-5 {
    margin: 5px;
}

#basic-addon2-btn {
    border-radius: 20px;
}

#basic-addon2-btn:hover {
    filter: brightness(80%);
}

.search-loc {
    flex: 1;
}

.search-job {
    flex: 1;
}

@media (min-width: 768px) {
    .search-container {
        display: flex;
        justify-content: space-around;
    }
}

/*Post job*/
#post-job-main {
    background-color: white;
    border-style: none;
    border-radius: 10px;
    padding: 30px 80px 30px 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#post-job-heading {
    color: black;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
}

/*Job activity*/
#act-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px 80px 30px 80px;
    margin-top: 20px;
}

#act-count{
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    font-size: 35px;
    margin-bottom: 0px;
    padding-top: 20px;
    text-align: center;
}
#act-uploads{
    color: white;
    text-align: center;
}
#act-profileImg{
    border: 2px solid white ;
    border-radius: 50%;
    width:100px;
    height:100px;
}
#act-main {
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px 80px 30px 80px;
    margin-bottom: 20px;
}
#act-txtheading{
    margin: 30px 0px 50px 0px;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
}
#act-addbox{
    border: 1px solid rgb(172, 171, 171);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}
#act-addbox:hover{
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 5px 5px #d3d2d2
}
#act-addimg{
    width: 40px;
    margin-right: 20px;
    float: left;
    border-radius: 50%;
}
#act-addimg:hover{
    background-color: white
}
#act-txtadd{
    padding-top: 10px;
    font-size: 20px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#act-box{
    border: 1px solid rgb(172, 171, 171);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}
#act-box:hover{
    box-shadow: 0px 5px 5px #d3d2d2;
    cursor: pointer;
    
}
#act-jobname{
    font-weight: bold;
}
#act-salary{
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#act-location{
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#act-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
#act-button:hover{
    color: white;
    background-color: rgb(219, 219, 219);
}
#act-button:active{
    color: white;
    background-color: rgb(219, 219, 219);
}
.act-image{
    width: 80px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
#act-posted{
    font-size: 15px;
    font-style: italic;
    color: red;
    margin-bottom: 5px;
}

/*Job details*/

#details-left-col-body {
    padding: 10px; 
    background-color: #f3f3f3; 
    border-radius: 10px; 
    margin: 5px;
    padding-bottom: 50px;
}

#details-left-col-img {
    padding-top: 60px; 
    padding-bottom: 10px;
}

#details-image {
    height: 120px; 
    width: 120px; 
    border-radius: 50%; 
}

.pd-20 {
    padding: 20px;
}

.no-text-wrap{
    overflow: hidden;
}

.det-strong{
    font-weight: bold;
}

#details-small{
    font-size: small;
}

#details-right-col-body {
    background-color: #f3f3f3;
    border-style: none;
    border-radius: 10px;
    padding: 60px;
    margin: 5px;
}
@media (max-width: 978px) {
    #details-right-col-body, #job-main{
        padding: 0;
        overflow-x: hidden;
    }
}

@media (max-width: 978px) {
    #post-job-main, #act-main{ 
        padding-left: 0;
        padding-right: 0;
    }
}

#details-right-col-icon{
    width: 30px;
    float: left; 
    margin: 5px 20px 20px 0px;
}
dt{
    margin-bottom: 10px;
    margin-top: 10px;
}
h6.height{
    line-height: 1.5;
}
#details-left-col-icons {
    width: 20px; 
    float: left; 
    margin-right: 10px;
}

#details-link {
    text-decoration: none; 
    color: #8f0b89;
}

/*Bookmark page*/
#book-viewbutton {
    color: #f3f3f3;
    padding: 0.65rem 1.45rem;
    background-color: #8f0b89;
    border-radius: 200px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

#book-viewbutton:hover {
    filter: brightness(110%);
}
#book-bmarkbutton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(172, 171, 171);
    float: right;
    margin-top: 5px;
}
#book-bmarkbutton:hover{
    color: white;
    background-color: rgb(172, 171, 171);
}
#book-bmarkbutton:focus{
    color: white;
    background-color: rgb(172, 171, 171);
}
.no-margin{
    margin: 0;
}
/* ------------------------------------------------------- */



/* SETTING FOR THE MODAL FOR IT TO BE CENTERED CORRECTLY */
/* ------------------------------------------------------- */
.modal {
    height: 100vh !important;
    padding-right: 0px !important;
}
.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
}
/* ------------------------------------------------------- */




/* SEARCH ALUMNI */
/* ------------------------------------------------------- */
#search-alumni {
    margin: 20px auto;
    background-color: #f3f3f3;
}
#alumni-search-field{
    align-items: center;
    max-width : 250px;
}
.the-alumni-cards {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.heading-search-page{
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}
.alumni-search-form{
    margin-top: 15px;
    border-radius: 35px;
}
.form-control-borderless {
    border: none;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
#alumni-search-heading {
    text-align: center;
    color: #f3f3f3;
    font-family: 'Hammersmith One', sans-serif;
    margin-top: 10px;
}
#alumniList {
    padding-left: 0px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}
#alumniList li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5px;
}
.the-alumni-cards {
    margin-top: 1rem; 
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    font-family: 'Hammersmith One', sans-serif;
}
.the-alumni-cards .contact-box {
    background-color: #f3f3f3;
    border: 1px solid #e7eaec;
    /* padding: 10px 23px !important; */
    width: 23rem;
    max-width: 23rem;
  }
.the-alumni-cards .contact-box{
    color: inherit;
  }
.the-alumni-cards .contact-box , .body-alumni-card, .contact-box-footer{
    border-radius: 28px;
}
.the-alumni-cards .contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
  }
.the-alumni-cards .body-alumni-card {
    display: block;
    background-color: #f3f3f3;
    text-align: center;
  }
.the-alumni-cards .body-alumni-card img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.the-alumni-cards .contact-box.center-version address {
    margin-bottom: 5px;
  }
 .the-alumni-cards .img-circle {
     border: #8f0b89;
     border-style: solid;
     border-radius: 50%;
 }
 .alumni-card-view-profile-button {
    color: #f3f3f3;
    background-color: #8f0b89;
    border-radius: 200px;
 }
 .alumni-card-view-profile-button:hover {
    filter: brightness(110%);
    color: #f3f3f3;
}
.card-department-alumni {
    text-align: center;
}
.col-card-alumni-val {
    text-align: center;
}
#alumni-modal {
    justify-content: center;
}
.alumni-modal-fix {
    display: flex !important;
}
#home-container .show {
    display: flex !important;
}
#alumni-modal .modal-dialog {
    max-width: 70%;
}
.container.modal-container-alumni {
    margin-top: 30px;
}
#modal-content-alumni{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 28px;
    font-family: 'Hammersmith One', sans-serif;
    padding-bottom: 10px;
    overflow: auto !important;
}
#alumni-modal .modal-header {
    border-bottom: 2px solid #fff;
    margin-bottom: 0 !important;
    padding-bottom: 3px;
}
#alumni-modal .modal-title{
    color: #f3f3f3;
    margin-left: 1.8rem;
}
#alumni-modal .btn-close {
    background: transparent url(../img/clear-button-01.svg) center/1em auto no-repeat;
}
#alumni-modal .contact-box{
    background: #f3f3f3;
    border-radius: 20px;
    width: 100%;
}
/* .body-alumni-card-modal{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} */
#alumni-modal img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
#right-col-alumni-modal {
    margin-right: 0px !important;
    padding-right: 0px !important;
}
#top-row-modal-alumni.contact-box, #bot-row-modal-alumni.contact-box {
    padding: 10px 0px;
}

#middle-top-row-modal-alumni {
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
}

.page-nav-alumni {
    background-color: transparent;
    justify-content: center;
    padding: 0.5em 1em; 
    border-radius: 0.5em;
    max-width: 20em;
    color: white;
}
.page-nav-alumni:hover {
    color: white;
    background-color: #cc67c7;
    text-decoration: none;
}
/* ------------------------------------------------------- */



/* Admin Page */
/* ------------------------------------------------------- */

.jumbotron-admin-profile {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.37) 100%), url(../img/admin-alumni-profile.jpg) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    width: auto;
    height: 600px;
    color: white;
}


.jumbotron-admin-event {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.37) 100%), url(../img/admin-events.jpg) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    width: auto;
    height: 600px;
    color: white;
}

.jumbotron-admin-upcoming {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url(../img/upcoming-event-dash.jpg) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    width: auto;
    height: 600px;
    color: white;
}

.jumbotron-admin-past {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%), url(../img/past-events-dash.jpg) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    width: auto;
    height: 600px;
    color: white;
}

.jumbotron-admin-approved {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.37) 100%), url(../img/approved.png) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    width: auto;
    height: 600px;
    color: white;
}

.jumbotron-admin-pending {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.37) 100%), url(../img/pending.jpg) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    width: auto;
    height: 600px;
    color: white;
}

.jumbotron-admin-rejected {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.37) 100%), url(../img/rejected.jpg) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    width: auto;
    height: 600px;
    color: white;
}


.admin-welcome-cards{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.admin-welcome-cards:hover{
    z-index: 1;
    transform: scale(1.05);
}

.btn-admin{
    color: #f3f3f3;
    background-color: #8f0b89;
    border-radius: 3rem;
}

.btn-admin:hover{
    filter: brightness(110%);
}

.btn-admin a{
    color: #f3f3f3;
    text-decoration: none;
}

.btn-admin.green{
    background-color: #8AC248;
}

.btn-admin.yellow{
    background-color: #eccf4f;
}

.btn-admin.red{
    background-color: #FD6D4B;
}

.admin-profile-btn a{
    color: black;
} 

.counter{
    font-family: 'Hammersmith One', sans-serif;
    background: #f3f3f3;
    text-align: center;
    width: 300px;
    min-height: 215px;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
.counter:before{
    content: '';
    background-color: #9DD662;
    height: 105px;
    width: 100%;
    border-radius: 30px 30px 0 0;
    position: absolute;
    left: 0;
    top: 0;
}
.counter .counter-icon{
    color: #fff;
    background: #7CA936;
    font-size: 50px;
    line-height: 90px;
    width: 120px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 10px 10px 0 0;
    transform: translateY(-20px);
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
}
.counter .counter-icon:before{
    content: "";
    background: #8AC248;
    width: 120px;
    height: 90px;
    border-radius: 10px 10px 0 0;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

.counter h3{
    color: #333;
    font-size:25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.counter .counter-value{
    color: #7CA936;
    font-size: 30px;
    font-weight: 600;
    display: block;
}
.counter.yellow:before{ background-color: #eccf4f; }
.counter.yellow .counter-icon{ background-color: #bda123; }
.counter.yellow .counter-icon:before{ background-color: #e2bf4c; }
.counter.yellow .counter-value{ color: #fac636; }
.counter.red:before{ background-color: #FD6D4B; }
.counter.red .counter-icon{ background-color: #D14026; }
.counter.red .counter-icon:before{ background-color: #EA5736; }
.counter.red .counter-value{ color: #EA5736; }

@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; 
    width: auto;}
}

/* ------------------------------------------------------- */