.full-height {
    min-height: inherit;
}
#event-main a {
    color: black;
    text-decoration: none;
}
#event-main a:hover {
    color: rgb(126, 125, 125);
}
#event-page-intro {
    margin-top: 2em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    margin-bottom: 0;
}
#page-title {
    font-family: 'Hammersmith One', sans-serif;
}
.meta-text {
    font-size: 1rem;
}
#highlighted-container {
    display: flex;
    align-items: center;
}
#highlighted-section {
    width: 95%;
    margin: 1em 3em 3em 3em;
    background-color: #f3f3f3;
    box-shadow: 2px 5px 5px rgb(226, 226, 226);
}
#highlighted-event {
    margin: 3em;
}
#highlighted-event-img {
    margin: 1em;
    border-radius: 0.5em;
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: top center;
}
#highlighted-event-text {
    padding: 1em 0 0 2em;
    display: grid;
    align-self: center;
}
#highlighted-event-header {
    overflow: hidden;
    display: inline-block;
}
#events {
    display: grid;
    align-items: center;
    margin: auto;
    width: 80%;
}
#search-container {
    padding: 1.8em;
    background-color: #c4c3c3;
    border: 0px white;
    display: grid;
    margin: auto;
    margin-bottom: 1.5em;
    width: 85%;
    align-self: center;
    align-items: center;
}
#search-bar {
    padding-left: 1em;
    height: 2.5em;
    width: 100%;
}
#event-list {
    list-style-type: none;
    background-color: #f3f3f3;
    padding-left: 0;
}
#search-bar:focus {
    outline: 0px;
    /* Need to put box shadow */
    border-color: rgb(112, 112, 235);
}
.my-event-card {
    background-color: #f3f3f3;
    min-height: 13.7em;
    max-height: 13.7em;
    box-shadow: 2px 5px 5px rgb(226, 226, 226);
}
.event-title {
    box-sizing: unset;
}
.event-img-container {
    display: grid;
    place-items: center;
}
.event-img-align {
    border: 0px;
}
.event-img {
    max-width: 100%;
    height: 200px;
    margin: 0.5em;
    object-fit: cover;
    object-position: top center;
}
#loader-container {
    display: grid;
    place-items: center;
    margin-bottom: 1em;
    padding-top: 0em;
}
#load-events {
    max-width: 200px;
    padding: 10px 35px;
    margin-top: 35px;
    background: #aa2aa4;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
}
#load-events:hover{
    box-shadow: 0 0 15px #c532be;
}

@media (max-width: 730px) {
    #event-page-intro {
        padding-top: 2.5em;
    }
    #highlighted-section {
        padding: 0.5em;
        margin: 1em;
        width: 100%;
    }
    #highlighted-event {
        margin: 0;
        grid-template-columns: 1fr;
    }
    #highlighted-event-img {
        width: 100%;
        box-shadow: none;
        margin: 0;
        display: block;
    }
    #highlighted-event-text {
        padding: 1em 0;
    }
    #highlighted-event-header {
        margin-bottom: -1.5em;
    }
    #events {
        width: 100%;
    }
    #search-container {
        width: 96%;
        padding: 1em;
    }
    .my-event-card {
        min-height: unset;
        max-height: unset;
        border: 1px black solid;
        margin: 1em;
    }
    .limit-text {
        -webkit-line-clamp: 3;
    }
    .event-img-container {
        display: none;
    }
}