@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
html {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}


/* Body and Background*/


/* ------------------------------------------------------- */

body {
    font-family: 'Merriweather', sans-serif;
    background: linear-gradient(45deg, #23A6D5, #8f0b89, #23A6D5);
    background-size: 100% 100%;
    position: relative;
    min-height: 100vh;
    transform: translateZ(0);
}


/* ------------------------------------------------------- */


/* Navbar Section */


/* ------------------------------------------------------- */

#topNavbar {
    background-color: #8f0b89;
    font-weight: 800;
    z-index: 10;
}
#botNavbar {
    z-index: 9;
    background-color: #f3f3f3;
    max-height: 110px;
}
.navbar.scrolled {
    background: rgb(243, 243, 243,0.88) !important;
    transition: background 0.25s;
}
.navbar.scrolled:hover {
    background: rgb(243, 243, 243) !important;
    transition: background 0.25s;
}
#regbutton , #logbutton {
    padding: 0.65rem 1.45rem;
}
#regbutton {
    color: #f3f3f3;
    background-color: #8f0b89;
    border-radius: 200px;
}

#regbutton:hover {
    filter: brightness(110%);
}

#logbutton {
    border-radius: 200px;
    color: #8f0b89;
    border-color: #8f0b89;
}

#logbutton:hover {
    color: white;
    background-color: #8f0b89;
}

#logbutton:focus {
    box-shadow: 0 0 0 .2rem rgba(143, 11, 137, 0.5);
}


/* ------------------------------------------------------- */


/* Main Section */


/* ------------------------------------------------------- */

main {
    min-height: calc(100vh - 52px - 110px - 595px);
    padding: 20px;
}

/* ------------------------------------------------------- */


/* Footer Section */


/* ------------------------------------------------------- */

footer {
    padding-top: 2px;
    background-color: #f3f3f3;
    text-align: center;
    position: relative;
    width: 100%;
}

.footer-link a {
    text-decoration: none;
}

.footer-link a:hover {
    text-decoration: underline;
}

#map {
    height: 300px;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
}


/* ------------------------------------------------------- */


/* Media Responsiveness Section */


/* ------------------------------------------------------- */

@media screen and (max-width: 992px) {
    .navbar-brand {
        white-space: normal;
    }
    .navbar-nav {
        text-align: end;
    }
    .fl-right {
        float: right;
    }
    #botNavbar {
        max-height: 100%;
    }
    #botNavbar img {
        width: 35%;
        height: 35%;
    }
    #logbutton,
    #regbutton {
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
    }
    body {
        background-size: 200% 200%;
    }
    .jumbotron-button{
        border-radius: 15px;
        font-size: 92%;
    }

    #jumbo-col{
        flex: none;
    }

    .event-card{
        margin-top: 20px;
    }

    .announcement-sec{
        margin-top: 20px;
    }

    .jumbotron-news {
        padding: 2rem 1rem;
    }

    /* REGISTER PAGE */
    .register .left-col {
    border-top-right-radius: 10px !important;
    }
    .register .right-col {
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0 !important;
    }
    /* Register Page */
    .cont-right{
        margin-top: 30px;
    }

    .reg-pic img{
        height: auto;
        width: auto;
    }
}



/* ------------------------------------------------------- */




/* Home PAGE */
/* ------------------------------------------------------- */
.jumbotron-main {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.6) 100%), url(img/graduation_pic.jpg) no-repeat center;
    background-size: cover;
    border-radius: .4rem;
    color: white;
}

.jumbotron-main h2{
    font-family: 'Hammersmith One', sans-serif;
}

.jumbotron-events {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: rgba(0,0,0,0.60);
    border-radius: .4rem;
    color: white;
}

.jumbotron-events h2{
    font-family: 'Hammersmith One', sans-serif;
}

.jumbotron-news {
    margin-top: 1rem;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background: rgba(36, 36, 36, 0.6);
    border-radius: .4rem;
    color: white;
}

.jumbotron-news h2{
    font-family: 'Hammersmith One', sans-serif;
}

.jumbotron-button{
    color: black;
    font-weight: 800;
    padding: 13px;
    background-color: #f3f3f3;
    border-radius: 50px;
    border: none;
}
.jumbotron-button:hover{
    filter: brightness(110%);
    box-shadow: 0 0 8px #ffffff !important;
}
.featurette-divider{
    background-color: white;
}

#home-container.container-fluid{
    max-width: 85vw;
}

.event-card{
    border-radius: 4px;
    color:black;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.jumbotron-events .card-title{
    font-family: 'Hammersmith One', sans-serif;
}

.event-card:hover{
    transform: scale(1.05);
    z-index: 5;
}

.event-info a {
    text-decoration: none;
    font-weight: 800;
    color: #8f0b89;
}

.news-home-link{
    text-decoration: none;
    font-weight: 800;
    color: #8f0b89;
}

.news-home-link:hover{
    text-decoration: none;
    font-weight: 800;
    color: #8f0b89;
}

.news-img{
    border-radius: 7px;
}


/* ------------------------------------------------------- */


/* Event PAGE */
/* ------------------------------------------------------- */
a {
    color: rgb(36, 32, 32);
    text-decoration: none;
}

a:hover {
    color: rgb(110, 108, 108);
}

#upcoming-events {
    margin-bottom: 1.5em;
    padding-left: 2em;
}

#event-main {
    border-radius: 0.5em;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 4em 3em 2em;
    width: 90%;
    background-color: #f3f3f3;
    box-shadow: 10em;
}

.vertical-event-card {
    border: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    width: 80%;
    margin-top: 0.5em;
    padding-bottom: 3em;
    align-items: center;
    background-color: #f3f3f3;
}

.event-meta {
    font-size: small;
}

.event-text {
    padding-right: 1em;
}

.event-img {
    display: grid;
    place-items: center;
}

@media (max-width: 730px) {
    .event-img {
        text-align: center;
    }

    .vertical-event-card {
        display: block;
        grid-template-columns: none;
        text-align: center;
    }

    .event-text {
        text-align: justify;
    }
}



/* Contact Us */
/* ------------------------------------------------------- */
.contactus{
    margin-top: 80px;
    margin-bottom: 80px;
}
.form-contactus {
    max-width: 1280px;
    padding: 20px 40px 20px;
    margin: 0 auto;
    background-color: rgb(243, 243, 243, 0.9);
    border-radius: 20px;
    font-family: 'Hammersmith One', sans-serif;
}
.contact-us-heading {
    text-align: center;
}
.form-contactus .contact-us-heading,
.form-contactus .checkbox {
    margin-bottom: 30px;
}
.form-contactus .checkbox {
    font-weight: normal;
}
.form-contactus .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    outline: none;
    border: none;
}
.form-contactus .form-control:focus {
    z-index: 2;
    box-shadow: 0 0 15px #c532be !important;
}
.form-contactus ::placeholder {
    color: #8f0b89;
}
.form-contactus input[type="text"] {
    border-radius: 10px;
    padding: 15px;
}

.contact-us textarea {
    border-radius: 10px;
    padding: 15px;
}

.bottom-submit{
    margin-top: 4px;
    display: grid;
    justify-content: center;
}
.submit-message {
    justify-self: center;
    max-width: 125px;
    padding: 10px 35px;
    margin-top: 15px;
    background: #aa2aa4;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
}
.submit-message:hover {
    box-shadow: 0 0 15px #c532be;
}



/* ------------------------------------------------------- */





/* LOGIN PAGE */
/* ------------------------------------------------------- */
@import "bourbon";

.login {	
	margin-top: 80px;
    margin-bottom: 80px;
}
.form-signin {
    max-width: 400px;
    padding: 40px 40px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Hammersmith One', sans-serif;
}
.form-signin-heading {
    
    text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    transition: 0.4s;
}
.form-signin .form-control:focus {
    z-index: 2;
    border-color: #8f0b89;
    box-shadow: 0 0 15px #c532be !important;
}
.form-signin ::placeholder {
    color: #8f0b89;
}
.form-signin input[type="text"] {
    border-radius: 23px;
    padding: 15px;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-radius: 23px;
    padding: 15px;
}
.bottom-log{
    display: grid;
    justify-content: center;
}
.submitlog {
    justify-self: center;
    max-width: 125px;
    padding: 10px 35px;
    margin-top: 15px;
    background: #aa2aa4;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
}
.submitlog:hover {
    box-shadow: 0 0 15px #c532be;
}
.message {
    margin: 20px 0 0;
}
.message a {
    text-decoration: none;
    font-weight: 800;
    color: #8f0b89;
}


/* ------------------------------------------------------- */


/* Register PAGE */
/* ------------------------------------------------------- */
.register {	
	margin: 80px auto;
    max-width: 85vw;
}

.register .left-col,.register .right-col {
    padding-bottom: 3.5rem;
    border-radius: 10px;
}
.register .left-col {
    /* background-image: linear-gradient(to bottom left, #23A6D5, #c532be, #8f0b89); */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.register .right-col {
    background-color: #f3f3f3;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-reg-container {
    max-width: 80%;
    margin: 80px auto 0px;
}

.form-reg-heading {
    margin-bottom: 50px;
    font-family: 'Hammersmith One', sans-serif;
}
.form-reg-check {
    padding-top: 60px;
    padding-left: calc(var(--bs-gutter-x)/ 2);;
}

.form-check a , .form-reg-submit a{
    text-decoration: none;
    color: #8f0b89;
    font-weight: 800;
}
.submitreg {
    max-width: 200px;
    padding: 10px 35px;
    margin-top: 35px;
    background: #aa2aa4;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.25s;
}
.submitreg:hover{
    box-shadow: 0 0 15px #c532be;
}
.form-reg-submit p{
    margin-top: 50px;
}
.reg-pic{
    justify-content: center;
    align-items: center;
}
.reg-pic img{
    height: 155%;
    width: 155%;
}
#error-text-reg{
    display: none;
    font-weight: 800;
    margin-top: 20px;
    position: absolute;
}
/* ------------------------------------------------------- */